<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Doces Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Doces Delícia</h1>
        
        <!-- Botão Hamburger -->
        <div class="hamburger" onclick="toggleMenu()">
            &#9776;
        </div>

        <nav id="nav-menu">
            <a href="{{ url_for('index') }}">Home</a>
            {% if 'perfil' in session and session['perfil'] == 'admin' %}
                <a href="{{ url_for('admin_dashboard') }}">Dashboard</a>
                <a href="{{ url_for('gerenciar_produtos') }}">Produtos</a>
                <a href="{{ url_for('ver_pedidos') }}">Pedidos</a>
            {% elif 'perfil' in session and session['perfil'] == 'cliente' %}
                <a href="{{ url_for('cliente_dashboard') }}">Produtos</a>
                <a href="{{ url_for('ver_carrinho') }}">Carrinho</a>
            {% endif %}
            {% if 'usuario_nome' in session %}
                <a href="{{ url_for('logout') }}">Sair ({{ session['usuario_nome'] }})</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('registrar') }}">Registrar</a>
            {% endif %}
        </nav>
    </header>


    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Doces Site</p>
    </footer>
    <script src="{{ url_for('static', filename='simscript.js') }}"></script>
</body>
</html>
